<div>
  <div
    data-dojo-type="dijit/Toolbar"
    data-dojo-attach-point="toolbar"
  >
    
    <div
      data-dojo-type="dijit/form/Button"
      data-dojo-props="iconClass:'addNodeIcon'"
      data-dojo-attach-point="addNodeButton"
      data-dojo-attach-event="onClick:_onClick"
    >
      Add
    </div>
    
    <div
      data-dojo-type="dijit/form/Button"
      data-dojo-props="iconClass:'deleteNodeIcon'"
      data-dojo-attach-point="deleteNodeButton"
      data-dojo-attach-event="onClick:_onClick"
    >
      Delete
    </div>
    
    <span data-dojo-type="dijit/ToolbarSeparator"></span>
    
    <div
      data-dojo-type="dijit/form/Button"
      data-dojo-props="iconClass:'undoIcon'"
      data-dojo-attach-point="undoButton"
      data-dojo-attach-event="onClick:_onClick"
    >
      Undo
    </div>
    
    <div
      data-dojo-type="dijit/form/Button"
      data-dojo-props="iconClass:'redoIcon'"
      data-dojo-attach-point="redoButton"
      data-dojo-attach-event="onClick:_onClick"
    >
      Redo
    </div>
    
    <span data-dojo-type="dijit/ToolbarSeparator"></span>
    
    <div
      data-dojo-type="dijit/form/Button"
      data-dojo-props="iconClass:'cutIcon'"
      data-dojo-attach-point="cutButton"
      data-dojo-attach-event="onClick:_onClick"
    >
      Cut
    </div>
    
    <div
      data-dojo-type="dijit/form/Button"
      data-dojo-props="iconClass:'copyIcon'"
      data-dojo-attach-point="copyButton"
      data-dojo-attach-event="onClick:_onClick"
    >
      Copy
    </div>   
    
    <div
      data-dojo-type="dijit/form/Button"
      data-dojo-props="iconClass:'pasteIcon'"
      data-dojo-attach-point="pasteButton"
      data-dojo-attach-event="onClick:_onClick"
    >
      Paste
    </div>    
    
  </div>
</div>